body {
    background-color: $backgroundColor;
}

.mainIndex {
    display: flex;
    flex-direction: column;
    padding: 4rem 5rem;
    max-width: 400px;
    .loginContent {
        width: 600px;
        height: 400px;
        padding: 4px 4px;

        border-radius: 3px;
    }

    .bordaGradiente-wrap {

        height: 392px;
        background: $backgroundColor;
    }

    h1 {
        background: 1px solid rgb(255, 199, 0);
        background: linear-gradient(31deg, rgba(255, 199, 0, 1) 0%, rgba(154, 255, 3, 1) 35%, rgba(0, 212, 255, 1) 100%);

        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        font-size: 50px;
        letter-spacing: 4px;

    }

    .codigo {
        background: 1px solid rgb(255, 199, 0);
        background: linear-gradient(31deg, rgba(255, 199, 0, 1) 0%, rgba(154, 255, 3, 1) 35%, rgba(0, 212, 255, 1) 100%);

        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        font-size: 25px;

        margin-top: 5%;

    }

    .codigoUsuario {
        border: none;

        border-radius: 4rem;
        padding: 4px 8px;

        width: 300px;
        height: 40px;

        font-size: 30px;

        text-align: center;

        background-color: $whiteIce;

        outline: none;
    }

    #botao {
        display: flex;
        margin-top: 1.5rem;
        width: 50%;
        .logar {
            color: yellowgreen;

            border: 1px;
            border-style: solid;
            // border-right: 0px;
            color: yellowgreen;
            border-radius: 4rem 0 0 4rem;
            font-weight: bold;
            padding: 4px 4px;

            width: 51%;
            height: 55px;
            background: transparent;
            transition: transparent;
            transition: width;
            transform-style: initial;
            transition-duration: .2s;

            &:hover {
                background: transparent;
                width: 106%;
            }
        }

        .gSenha {
            color: yellowgreen;

            border: 1px solid yellowgreen;
            border-left: 0px;
            border-radius: 0 4rem 4rem 0;

            width: 55%;
            height: 55px;
            background: transparent;

            padding: 4px 4px;

            transition: transparent;
            transition: width;
            transform-style: initial;
            transition-duration: .2s;

            &:hover {
                width: 226%;
                background: transparent;
            }
        }
    }

}

