* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, html, body, input, p {
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #464646;
}

.mainIndex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4rem 5rem;
  max-width: 400px;
}

.mainIndex .loginContent {
  width: 600px;
  height: 400px;
  padding: 4px 4px;
  border-radius: 3px;
}

.mainIndex .bordaGradiente-wrap {
  height: 392px;
  background: #464646;
}

.mainIndex h1 {
  background: 1px solid #ffc700;
  background: linear-gradient(31deg, #ffc700 0%, #9aff03 35%, #00d4ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  letter-spacing: 4px;
}

.mainIndex .codigo {
  background: 1px solid #ffc700;
  background: linear-gradient(31deg, #ffc700 0%, #9aff03 35%, #00d4ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  margin-top: 5%;
}

.mainIndex .codigoUsuario {
  border: none;
  border-radius: 4rem;
  padding: 4px 8px;
  width: 300px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  background-color: #CBCBCB;
  outline: none;
}

.mainIndex #botao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.5rem;
  width: 50%;
}

.mainIndex #botao .logar {
  color: yellowgreen;
  border: 1px;
  border-style: solid;
  color: yellowgreen;
  border-radius: 4rem 0 0 4rem;
  font-weight: bold;
  padding: 4px 4px;
  width: 51%;
  height: 55px;
  background: transparent;
  -webkit-transition: transparent;
  transition: transparent;
  -webkit-transition: width;
  transition: width;
  -webkit-transform-style: initial;
          transform-style: initial;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.mainIndex #botao .logar:hover {
  background: transparent;
  width: 106%;
}

.mainIndex #botao .gSenha {
  color: yellowgreen;
  border: 1px solid yellowgreen;
  border-left: 0px;
  border-radius: 0 4rem 4rem 0;
  width: 55%;
  height: 55px;
  background: transparent;
  padding: 4px 4px;
  -webkit-transition: transparent;
  transition: transparent;
  -webkit-transition: width;
  transition: width;
  -webkit-transform-style: initial;
          transform-style: initial;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.mainIndex #botao .gSenha:hover {
  width: 226%;
  background: transparent;
}

body {
  padding: 0;
  margin: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #00ff97;
}

html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

main {
  width: 380px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.layoutForm {
  margin-top: 2%;
  height: 300px;
}

h1 {
  background: 1px solid #ffc700;
  background: linear-gradient(31deg, #ffc700 0%, #9aff03 35%, #00d4ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 6%;
  font-family: 'Nunito', sans-serif;
}

.layoutForm label {
  background: 1px solid #ffc700;
  background: linear-gradient(31deg, #ffc700 0%, #9aff03 35%, #00d4ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Nunito', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1%;
  font-size: 20px;
}

.layoutForm input {
  background: #f5f2f2;
  margin-top: 0%;
  border: 1px solid;
  border-color: #9c9c9c;
  border-radius: 4rem;
  line-height: 1.5rem;
  padding: 4px 4px;
  outline: none;
  color: black;
  text-align: center;
  width: 300px;
  height: 45px;
}

#botao {
  background: 1px solid #ffc700;
  background: linear-gradient(31deg, #ffc700 0%, #9aff03 35%, #00d4ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 305px;
  margin-top: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#botao .buttonForm1 {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  background: transparent;
  margin-top: 2%;
  border: 1px solid;
  border-color: yellowgreen;
  border-radius: 4rem 0 0 4rem;
  line-height: 1.5rem;
  padding: 4px 4px;
  outline: none;
  width: 50%;
  height: 55px;
  -webkit-transition: background;
  transition: background;
  -webkit-transition: width;
  transition: width;
  -webkit-transform-style: initial;
          transform-style: initial;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

#botao .buttonForm1:hover {
  width: 90%;
  background: transparent;
}

#botao .buttonForm2 {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  background: transparent;
  margin-top: 2%;
  border: 1px solid;
  border-color: yellowgreen;
  border-radius: 0 4rem 4rem 0;
  line-height: 1.5rem;
  padding: 4px 4px;
  outline: none;
  width: 50%;
  height: 55px;
  -webkit-transition: background;
  transition: background;
  -webkit-transition: width;
  transition: width;
  -webkit-transform-style: initial;
          transform-style: initial;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

#botao .buttonForm2:hover {
  width: 90%;
  background: transparent;
}
/*# sourceMappingURL=main.css.map */